.name {
    font-size: 16px;
}

#serviceName {
    width: 150px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #cecece;
}

#url {
    width: 350px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #cecece;
}

#submit {
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #cecece;
    border-radius: 3px;
    text-indent: 0px;
    margin-left: 180px;
    margin-top: 20px;
    cursor: pointer;
}

#show {
    font-size: 14px;
    margin-left: 50px;
    margin-top: 20px;
}